/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 */

#include "whisker_std.h"

#ifndef {{MACRO_GUARD}}
#define {{MACRO_GUARD}}

{{CURSOR}}

#endif /* {{MACRO_GUARD}} */
